In [1]:
import pandas

In [12]:
import pandas as pd
from bs4 import BeautifulSoup

with open('data/nt_full.html', 'r', encoding='utf-8') as f:

    html_content = f.read()

    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(html_content, 'html.parser')
    
    # Extract rows
    table_content = soup.select_one('tbody.table-content')
    # Extracting data for each player
data = []
for row in table_content.select('tr.hasCaptainsCol'):

    name = row.select_one('td.name-cell span').text
    position = row.select_one('td.position-cell ft-tooltip')['text']
    team = row.select_one('td.team-cell ft-tooltip')['text']
    price = row.select_one('td.price-cell').text
    ownership_pct = row.select_one('td.selectedBy-cell span.value').text
    captain_pct = row.select_one('td.captainedBy-cell span.value').text
    points = row.select_one('td.points-cell ft-bubble span').text
    
    data.append([name, position, team, price, ownership_pct, captain_pct, points])

    
# Convert data to a pandas DataFrame
df = pd.DataFrame(data)

print(df)

               0         1                2     3       4      5      6
0     O. Watkins    Angrep      Aston Villa  8.0M  16.64%  0.24%  21.70
1    M. Ødegaard  Midtbane          Arsenal  9.0M  19.97%  1.94%  15.30
2       B. White   Forsvar          Arsenal  6.0M   4.72%      -  12.30
3    J. Andersen   Forsvar   Crystal Palace  4.6M   5.35%      -  12.30
4      T. Soucek  Midtbane         West Ham  5.5M   0.96%      -   9.70
..           ...       ...              ...   ...     ...    ...    ...
531   A. Lallana  Midtbane         Brighton  4.5M   1.03%      -      -
532    J. Milner  Midtbane         Brighton  5.0M   0.21%      -      -
533   S. Coleman   Forsvar          Everton  4.5M   0.07%      -      -
534    J. Stones   Forsvar  Manchester City  5.5M   5.42%      -      -
535   J. Tomkins   Forsvar   Crystal Palace  4.0M   0.86%      -      -

[536 rows x 7 columns]

In [18]:
df.sort_values(3)

                0         1                  2      3       4       5      6
528  K. De Bruyne  Midtbane    Manchester City    10M   2.54%   0.49%      -
9         B. Saka  Midtbane            Arsenal    10M  40.51%   1.19%   8.70
198      M. Salah  Midtbane          Liverpool  12.1M  33.63%   2.48%   1.00
100    E. Haaland    Angrep    Manchester City  12.7M  93.46%  74.86%   3.10
535    J. Tomkins   Forsvar     Crystal Palace   4.0M   0.86%       -      -
..            ...       ...                ...    ...     ...     ...    ...
47     J. Alvarez    Angrep    Manchester City   8.6M  21.77%   0.42%   6.10
1     M. Ødegaard  Midtbane            Arsenal   9.0M  19.97%   1.94%  15.30
14         H. Son  Midtbane              Spurs   9.0M  22.29%   0.68%   7.80
148   M. Rashford    Angrep  Manchester United   9.4M  22.24%   0.98%   1.70
99   B. Fernandes  Midtbane  Manchester United   9.4M  29.19%   1.43%   3.10

[536 rows x 7 columns]