In [2]:
import pandas

In [41]:
import pandas as pd
from bs4 import BeautifulSoup

with open('data/nt_full_060124.html', 'r', encoding='utf-8') as f:

    html_content = f.read()

    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(html_content, 'html.parser')
    
    # Extract rows
    table_content = soup.select_one('tbody.table-content')
    # Extracting data for each player
data = []
for row in table_content.select('tr.hasCaptainsCol'):

    name = row.select_one('td.name-cell span').text
    position = row.select_one('td.position-cell ft-tooltip')['text']
    team = row.select_one('td.team-cell ft-tooltip')['text']
    price = row.select_one('td.price-cell').text
    ownership_pct = row.select_one('td.selectedBy-cell span.value').text
    captain_pct = row.select_one('td.captainedBy-cell span.value').text
    points = row.select_one('td.points-cell ft-bubble span').text
    
    data.append([name, position, team, price, ownership_pct, captain_pct, points])

    
# Convert data to a pandas DataFrame
df = pd.DataFrame(data)

print(df)

                    0         1                  2      3       4       5  \
0           C. Palmer  Midtbane            Chelsea   5.5M  38.55%   0.35%
1            M. Salah  Midtbane          Liverpool  12.5M  62.38%  26.11%
2            M. Olise  Midtbane     Crystal Palace   6.0M   0.72%   0.03%
3           M. Kilman   Forsvar             Wolves   4.3M   0.87%       -
4           C. Dawson   Forsvar             Wolves   4.2M   1.01%       -
..                ...       ...                ...    ...     ...     ...
530      L. Vigouroux    Keeper            Burnley   4.0M   0.03%       -
531       R. Matthews    Keeper     Crystal Palace   4.0M   0.02%       -
532  B. Baker-Boaitey  Midtbane           Brighton   4.5M       -       -
533           S. Peck  Midtbane   Sheffield United   4.5M       -       -
534       W. Kambwala   Forsvar  Manchester United   4.5M       -       -

         6
0    15.70
1    15.10
2    13.70
3    12.30
4    12.30
..     ...
530      -
531      -
532      -
533      -
534      -

[535 rows x 7 columns]

In [42]:
df.columns = ["Name", "Position", "Team", "Price", "Ownership", "Captain%", "PointsRound"]

In [43]:
df["Price"] = df["Price"].str.extract("^[+-]?([0-9]+([.][0-9]*)?|[.][0-9]+)M")[0]
df["Price"] = pd.to_numeric(df["Price"])

In [54]:
df.sort_values("Price", inplace=True)

In [56]:
df[["Initial", "Surname"]] = df["Name"].str.rsplit(".", n=1, expand=True)

In [57]:
df

,Name,Position,Team,Price,Ownership,Captain%,PointsRound,Initial,Surname
267,H. Delcroix,Forsvar,Burnley,4.0,-,-,0.70,H,Delcroix
260,A. Bell,Forsvar,Luton,4.0,3.85%,-,0.70,A,Bell
261,G. Baldock,Forsvar,Sheffield United,4.0,7.33%,-,0.70,G,Baldock
478,R. Burke,Forsvar,Luton,4.0,0.40%,-,-,R,Burke
284,C. Taylor,Forsvar,Burnley,4.0,7.24%,-,-0.30,C,Taylor
...,...,...,...,...,...,...,...,...,...
11,H. Son,Midtbane,Spurs,9.3,51.01%,8.22%,8.70,H,Son
301,K. De Bruyne,Midtbane,Manchester City,10.0,2.45%,0.47%,-,K,De Bruyne
16,B. Saka,Midtbane,Arsenal,10.2,39.27%,2.06%,7.70,B,Saka
1,M. Salah,Midtbane,Liverpool,12.5,62.38%,26.11%,15.10,M,Salah
400,E. Haaland,Angrep,Manchester City,12.9,45.97%,25.41%,-,E,Haaland